.input-control.success input{
    border-color: green;
}

.input-control.invalid-input input{
    border-color: red;
}

.btn-color{
    background-color: var(--btn-yellow);
}

.btn-add-product{ 
    border-radius: 20px;
    color: black;
}

.btn-add-product:hover{
    background-color: var(--btn-yellow);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-add-product:active{
    box-shadow: 0 5px #666;
    transform: translateY(1px);
}

.btn-no-hover-color:hover{
    background-color: var(--btn-yellow);
}

dialog{
    width: 70vh;
    height: 70vh;
    background-color: var(--bkg-main);
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 3840px) {
    .short-text {
        max-width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
}

@media (max-width: 1920px) {
    .short-text {
        max-width: 450px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
}

@media (max-width:1024px){
    .short-text {
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
}
    

@media (max-width: 768px){
    .short-text {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
}

@media (max-width: 480px) {
    .short-text {
      max-width: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
}

#deleteModal{
    width: 50vh;
    height: 30vh;
}