footer{
    background-color: var(--main-blu);
}

footer h3{
    color: var(--txt-white);
}

.footer-list ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-list a{
    text-decoration: none;
    color: var(--txt-white);
}